@model Bai2_TH10.Models.tbl_SanPham
@{
    ViewBag.Title = "sửa sản phẩm";
}

<h2>Thêm sản phẩm mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.MaSP)
            @Html.TextBoxFor(m => m.MaSP, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TenSP)
            @Html.TextBoxFor(m => m.TenSP, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DonGia)
            @Html.TextBoxFor(m => m.DonGia, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HinhAnh)
            @Html.TextBoxFor(m => m.HinhAnh, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MoTa)
            @Html.TextAreaFor(m => m.MoTa, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SoLuongTon)
            @Html.TextBoxFor(m => m.SoLuongTon, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-success mt-2">Lưu</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary mt-2">Quay lại</a>
    </div>
}
